<?php

namespace Netflie\WhatsAppCloudApi\Tests;

class WhatsAppCloudApiTestConfiguration {

  /**
   * These must be filled out with valid Meta Whatsapp app details for the tests to
   * run.
   */
  public static $from_phone_number_id = '';
  public static $to_phone_number_id = '';
  public static $access_token = '';
  public static $graph_version = '';

  public static $contact_phone_number = '';
  public static $contact_waid = '';

}
